@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter !important;
  max-width: 100vw;

}


video {
  border-radius: 1.5rem;
}

.blur-xs {
  --tw-blur: blur(1px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.text-xs-10 {
  font-size: 10px;
}
.text-xs-8 {
  font-size: 8px;
  line-height: 0.5rem;
}

.uptime-ellipse-blue {
  border-radius: 9999px;
  width: 260px;
  height: 260px;

  background: #47D3FF;
  --tw-blur: blur(120px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);;
}
.uptime-ellipse-red {
  border-radius: 9999px;

  width: 260px;
  height: 260px;

  background: #FF0000;
  --tw-blur: blur(120px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);;
}
.uptime-ellipse-orange {
  border-radius: 9999px;

  width: 260px;
  height: 260px;

  background: #D89239;
  --tw-blur: blur(120px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);;
}

